@font-face {
    font-family: 'ArchivoNarrowBold';
    src: url('fonts/ArchivoNarrow-Bold.ttf') format('truetype');
    font-weight: bold ;
    font-style: normal;
}

body {
    font-family: 'ArchivoNarrowBold', sans-serif;
    background-color: #f0f0f0;
    height: 100%;
    margin: 0;

}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    flex-shrink: 0;
    background-color: #000000;
    color: rgb(207, 207, 207);
    padding: 1rem 0;
    text-align: center;
}   

main {
    flex: 1;
}

footer {
    flex-shrink: 0;
    text-align: center;
    padding: 1rem 0;
}

h1 {
    color: #ffffff;
    text-align: center;
}
.checklist {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.checklist-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.checklist-item input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.5);
}
.checklist-item label {
    font-size: 18px;
    color: #555;
}  
.checklist-item input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: #999;
}  
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}  
footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
    font-size: 14px;
}
footer a {
    color: #777;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
@media (max-width: 600px) {
    .checklist {
        padding: 10px;
    }
    .checklist-item label {
        font-size: 16px;
    }
    button {
        width: 100%;
        font-size: 14px;
    }
}